.resume {
  font-family: 'Crimson Text', serif;
  color: black;
  margin: 0.5in;
  padding: 1in;
  height: 11in;
  width: 8.5in;
  box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.1);
}

ul {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

section {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-col h2 {
  grid-column: span 2;
}

.personal-project {
  grid-column: span 1;
}

.contact-details {
  padding: 0.5em 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
}

#skills ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#skills ul li {
  display: inline;
}

#skills ul li:after {
  content: ", ";
}

#skills ul li.last:after {
  content: ".";
}